body{
    margin: 0px;
    background-image: url(4k_city_backdrop_website.jpg);
}

header{
    text-align: center;
    border: 0px;
    border-radius: 20px;
    padding-bottom: 3%;
}


/* ALL NAVABAR STUFF*/
.navbar{
    background-color: #44413e;
    font: 20px;
    color: #e0954f;
}
.navbar ul{
    list-style-type: None;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: whitesmoke;
    text-decoration: None;    /*Removes hyperlink undeline*/
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #928e8b;
    color:rgb(88, 32, 218)
}
.navbar li{
    float: left;
}

/*All dropdown menu stuff*/
.dropdown{
    display: inline-block;
}
.dropdown button{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: rgb(87, 86, 85);
    color: aliceblue;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border-color: black;    
    cursor: pointer;        /*Cursor becomes a pointer when hovered over*/
}
.dropdown a{
    display: block;     /*displays all items as vertical*/
    text-decoration: None;
    color: black;
    padding: 10px 15px;
}
.dropdown .dropdown_content{
    display: none;
    font: bold;
    top: 3%;
    right: 1%;
    position: absolute;
    background-color: rgb(71, 70, 69);
    min-width: 100px;
    text-align: center;
    box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.664);
}
.dropdown:hover .dropdown_content{
    display: block;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgb(107, 55, 55), rgb(252, 195, 160));
}
.dropdown:hover button{     /*Changes color of /// button when hovering*/
    background-image: linear-gradient(to top,  rgb(252, 195, 160), rgb(107, 55, 55));
}
.dropdown a:hover{
    background-image: linear-gradient(to top, rgb(252, 195, 160), rgb(107, 55, 55));
    border-radius: 25px;
}



.dropup{
    display: inline-block;
}
.dropup button{
    position: absolute;
    height: 10%;
    width: 10%;
    top: 50%;
    right: 45%;
    transform: rotate(90deg);
    font: bolder;
    padding: 1%;
    border: 5%;
    margin: 2%;
    background-image: linear-gradient(to left, black, purple);
    border-color: red;
    border-radius: 100%;
}
.dropup:hover button{
    background-image: linear-gradient(to left, rgb(44, 5, 31), rgb(29, 13, 177));
    cursor: pointer;
}